@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: palevioletred;
    font-family: 'Abril Fatface', cursive;
}
.app{
    width: 100vw;
    height: auto;
    min-height: 100vh;
}

.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10%;
    /* background-color: gray; */
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    font-size: 2rem;
}
.al{
    font-size: 3rem;
    color: aqua;
    /* margin-right: auto; */
    text-shadow: 3px 3px 5px rgba(0,0,0,0.500);
    cursor: col-resize;
}
.ar{
    cursor: col-resize;
    font-size: 3rem;
    color: aqua;
    margin-left: auto;
}